.search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 40px;
    top: 100px;
    background-color: #262831;
    gap: 20px;
    border-radius: 8px;
    width: 100%;
}

label{
    color: #95c827;
}

.search_text {
    padding: 5px;
    border-radius: 6px;
}


.select_text {
    padding: 5px;
    border-radius: 6px;
}

.reset_filter:hover {
    background-color: #95c827;
    transition: 0.3s all ease;
}

.button_search{
    padding: 5px;
}

.button_search:hover{
    background-color: #95c827;
    transition: 0.3s all ease;
}
