

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #000000;
}

.wrapper{
  display: flex;
  position: relative;
 
}

.wrapper .sidebar{
  
  width: 200px;
  height: 100%;
  background: #24252c;
  padding: 30px 0px;
  position:absolute
  
  
  
}

.wrapper .sidebar h2{
  color: #95c827;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: var(--font-family-test)
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #ffffff;
  display: block;
  font-family: var(--font-family-test)
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #95c827;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #1c1e24;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{

  height: 800px;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.main_content .info{
  background-color: #1c1e24;
  margin: 20px;
  width: 1080px;
  height: 700px;
  color: #ffffff;
  border-radius: 20px;

}

.main_content .info img{
margin: 20px;
border-radius: 20px;
}

