.cards-cart-cont {
    display: flex;
}

.card-cart{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10%;
    background-color: white;
    width: 100%;
    gap: 40px;
}

.card-cart img{
    width: 40%;
    object-fit: cover;
    height: 150px;
}

.input-cart{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
}

.icons_react{
    font-size: 30px;
    transition: 0.3s all ease;
    cursor: pointer;
}

.icons_react:hover{
    font-size: 40px;
}

.info_product{
    font-family: var(--font-family-test);
}

.info__prod{
    color: #95c827;
}

.info__prod_price{
    color: #ffa524;

}
