.shop {
    background: rgb(40, 43, 58);
    padding: 25px;
    width: 80%;
    margin: auto;
    height: 1000px;
}

.total-buy{
    margin-left: 1300px;
    color: rgb(211, 228, 248);
}

.restore-btn{

    background-color: rgb(194, 191, 191);
    border-radius: 20px;
    width: 90px;
    height: 40px;
    line-height: 10px;
    margin-left: 60px;
}