.shop {
    display: flex;
    /* justify-content: center; */
    color: antiquewhite;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

#total-buy {
    color: rgb(18, 181, 29);
}

.shop b {
    color:rgb(23, 226, 57);
}

.cards-cart {
    padding: 25px;
    margin-top: 10px;
}

.prods-cart {
    color: rgb(25, 229, 28);
    display: flex;
    flex-wrap: wrap;
}